//  Grimoire Icons
//  --------------

@font-face {
  font-family: "Grimoire Icons";
  font-weight: normal;
  font-style:  normal;
  src: url("../static/fonts/grimoire_icons/grimoire_icons.woff") format("woff");
}
