@import '~styles/helpers/_module';

//  Variables
//  ---------

$sidebar-width: 60px;
$sidebar-entry-height: 60px;
$sidebar-icon-size: 1.4em;

//  Object Structure
//  ----------------

.narrow-sidebar {
  display: flex;
  flex-direction: column;

  position: absolute;
  left: calc(#{$sidebar-width} * -1);
  bottom: 0px;
  z-index: 30;

  width: $sidebar-width;
  height: calc(100% - #{$sidebar-entry-height});

  @include themify { background-color: primary-color(); }

  transition: left 200ms;

  &.is-active {
    left: 0px;

    box-shadow: 4px 0px 14px 0px rgba(36,36,36,0.6);
  }

  .nav-trigger {
    display: flex;
    justify-content: center;

    height: $sidebar-entry-height;

    @include themify { background-color: primary-color(); }

    @include icon {
      font-size: $sidebar-icon-size;
      @include themify { color: secondary-color(); }
    }
  }

  .nav-entries {
    .nav-link {
      display: flex;
      align-items: center;
      justify-content: center;

      height: $sidebar-entry-height;

      transition: background-color 300ms;

      @include icon {
        font-size: $sidebar-icon-size;
        @include themify { color: rgba(foreground-color('primary'), 0.7); }

        // This is a bit of a special case, should be taken care of soon
        &.icn-notebook { font-size: 1.47em; }
      }

      &:hover {
        @include themify { background-color: darken(primary-color(), 2%); }
      }

      &.is-active {
        @include themify { background-color: secondary-color(); }

        @include icon {
          @include themify { color: foreground-color('secondary'); }
        }
      }
    }
  }
}
