@import '~styles/helpers/_module';

//  Variables
//  ---------

$btn-icon-size: 1em;

//  Exported Class
//  --------------

.window-controls {
  display: flex;
  z-index: 20;

  .btn {
    &:nth-child(2) { margin: 0 25px; }

    @include icon {
      @include themify { color: foreground-color('primary'); }
      font-size: $btn-icon-size;
    }
  }
}
