//  Layout Modifiers
//  ----------------

.draggable {
  -webkit-app-region: drag;
}

.full-height {
  height: 100%;
}

.full-screen-height {
  height: 100vh;
}

.flex {
  display: flex !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

//  Color Modifiers
//  ---------------

.background-base {
  @include themify { background-color: background-color(); }
}

.background-light {
  @include themify { background-color: background-color('light'); }
}

.background-dark {
  @include themify { background-color: background-color('dark'); }
}
