@import '~styles/helpers/_module';

//  Variables
//  ---------

$titlebar-height: 60px;
$titlebar-icons-size: 1.3em;
$titlebar-title-font-size: 1.3em;
$titlebar-title-font-weight: 100;

$control-container-width: 60px;

//  Object Structure
//  ----------------

%notebooks-titlebar {
  display: flex;
  position: relative;
  z-index: 15;

  height: $titlebar-height;
  width: 100%;

  box-shadow: 0px 4px 13px 0px rgba(36, 36, 36, 0.6);
  @include themify { background-color: primary-color(); }

  .column { padding: 0 !important; }

  .control-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width:  $control-container-width;
    height: 100%;

    cursor: pointer;
  }

  .title-container {
    display: flex;
    flex-grow: 40;
    align-items: center;
    justify-content: center;

    .title {
      font-size:   $titlebar-title-font-size;
      font-weight: $titlebar-title-font-weight;
      @include themify { color: foreground-color('primary'); }

      user-select: none;
      cursor: default;
      margin: 0;
    }
  }

  .wrapper-window-controls {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    padding: 0 20px 0;
  }
}

//  Exported Class
//  --------------

.notebooks-titlebar {
  @extend %notebooks-titlebar;
}
