@import '~styles/helpers/_module';

//  Variables
//  ---------

$btn-width: 26px;
$btn-height: 26px;

$btn-bar-thickness: 3px;
$btn-bar-active-thickness: 2px;

$btn-bar-pad: 3px;
$btn-bar-space: 3px;

$btn-transition-duration: 0.3s;

//  Object Definition
//  -----------------

%burger-btn {
  display: block;
  overflow: hidden;

  position: relative;
  z-index: 30;

  width: $btn-width;
  height: $btn-height;

  background-color: transparent;

  text-indent: -9999px;
  font-size: 0;
  padding: 0;
  margin: 0;

  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;

  cursor: pointer;

  &.is-active .btn-bars {
    background-color: transparent !important;
    height: $btn-bar-active-thickness;

    @include themify {
      &::after, &::before { background-color: secondary-color(); }
    }

    &::after {
      bottom: 0px;
      height: $btn-bar-active-thickness;
      transform: rotate(-45deg);
    }

    &::before {
      top: 0px;
      height: $btn-bar-active-thickness;
      transform: rotate(45deg);
    }

    &::after,
    &::before {
      transition-delay: 0s, $btn-transition-duration, 0s;
    }
  }

  .btn-bars {
    display: block;

    position: absolute;;
    top: ($btn-height / 2) - ($btn-bar-thickness / 2);
    left: $btn-bar-pad;
    right: $btn-bar-pad;

    height: $btn-bar-thickness;

    @include themify {
      background-color: foreground-color('light');
      &::after, &::before { background-color: foreground-color('light'); }
    }

    transition: background-color 0s ease $btn-transition-duration;

    &::after,
    &::before {
      content: "";
      display: block;

      position: absolute;
      left: 0;

      width: 100%;
      height: $btn-bar-thickness;

      transition-duration:
        $btn-transition-duration,
        $btn-transition-duration,
        $btn-transition-duration;

      transition-delay: $btn-transition-duration, 0s, 0s;
    }

    &::after {
      bottom: -$btn-bar-thickness - $btn-bar-space;
      transition-property: bottom, transform, background-color;
    }

    &::before {
      top: -$btn-bar-thickness - $btn-bar-space;
      transition-property: top, transform, background-color;
    }
  }
}

//  Exported Class
//  --------------

.burger-btn {
  @extend %burger-btn;
}
